<!-- Footer -->
<footer class="page-footer font-small black pt-4 ">

  <!-- Footer Links -->
  <div class="container text-md-left">

    <!-- Grid row -->
    <div class="row">
      <div class="col-md-4 mb-md-0 mb-3 text-left">

        <!-- Links -->
        <h4 class="text-uppercase gradient-fill">
          <a class="navbar-brand p-0" style="color: orange">
            <i class="material-icons" style="font-size: 25px">bubble_chart</i>
          </a>
          <span>L</span>
          <span>i</span>
          <span>ê</span>
          <span>n</span>
          <span>&nbsp;</span>
          <span>h</span>
          <span>ệ</span>
        </h4>

        <ul class="list-unstyled ulFooter ">
          <li class="nav-item ">
            <a class="nav-link text-white gradient-fill-hover">
              <i class="fa fa-map-marker mr-3"></i><span>459 SƯ VẠN HẠNH</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white gradient-fill-hover" >
              <i class="fa fa-phone mr-3"></i><span>0123.456.789</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white gradient-fill-hover">
              <i class="fa fa-envelope mr-3 mb-2"></i><span>sPhim@email.vn</span>
            </a>
          </li>

          <li class="nav-item Social">
              <i class="fa fa-facebook mr-3"></i> <i class="fa fa-google mr-3"></i> <i class="fa fa-twitter mr-3"></i>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white gradient-fill-hover" routerLink="/home/signup">

            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white gradient-fill-hover" routerLink="/home/signin">

            </a>
          </li>
        </ul>

      </div>

      <div class="col-md-4 mb-md-0 mb-3 text-left">

        <!-- Links -->
        <h4 class="text-uppercase gradient-fill">
          <span>T</span>
          <span>h</span>
          <span>ô</span>
          <span>n</span>
          <span>g</span>
          <span>&nbsp;</span>
          <span>t</span>
          <span>i</span>
          <span>n</span>
        </h4>

        <ul class="list-unstyled ulFooter ">
          <li class="nav-item ">
            <a class="nav-link text-white gradient-fill-hover " routerLink="/home/carousel">
              <span>T</span>
              <span>r</span>
              <span>a</span>
              <span>n</span>
              <span>g</span>
              <span>&nbsp;</span>
              <span>c</span>
              <span>h</span>
              <span>ủ</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white gradient-fill-hover" routerLink="/home/phimdangchieu">
              <span>Đ</span>
              <span>a</span>
              <span>n</span>
              <span>g</span>
              <span>&nbsp;</span>
              <span>C</span>
              <span>h</span>
              <span>i</span>
              <span>ế</span>
              <span>u</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white gradient-fill-hover" routerLink="/home/phimsapchieu">
              <span>S</span>
              <span>ắ</span>
              <span>p</span>
              <span>&nbsp;</span>
              <span>C</span>
              <span>h</span>
              <span>i</span>
              <span>ế</span>
              <span>u</span>
            </a>
          </li>
          <li class="nav-item text-capitalize">
            <a class="nav-link text-white gradient-fill-hover" routerLink="/home/signup">
              <span>đ</span>
              <span>ă</span>
              <span>n</span>
              <span>g</span>
              <span>&nbsp;</span>
              <span>k</span>
              <span>ý</span>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white gradient-fill-hover" routerLink="/home/signin">
              <span>đ</span>
              <span>ă</span>
              <span>n</span>
              <span>g</span>
              <span>&nbsp;</span>
              <span>n</span>
              <span>h</span>
              <span>ậ</span>
              <span>p</span>
            </a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3 Subscribe">

        <!-- Content -->
        <h4 class="text-uppercase gradient-fill mb-3">
          <span>S</span>
          <span>u</span>
          <span>b</span>
          <span>s</span>
          <span>c</span>
          <span>r</span>
          <span>i</span>
          <span>b</span>
          <span>e</span>
          <span>&nbsp;</span>
        </h4>

        <div class="example-container text-justify">
          <p>Vui lòng nhập Email của bạn, chúng tôi sẽ gửi đến bạn những tin tức cập nhật, những bộ phim mới nhất và
            chương trình khuyến mãi hấp dẫn từ chúng tôi</p>
          <mat-form-field>
            <input matInput placeholder="Nhập Email của bạn" >
          </mat-form-field>
          <button class="btnStyle2 ml-2">SUBMIT</button>
        </div>

      </div>

    </div>
    <!-- Grid row -->
    <hr style="height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;">
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center pb-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/angular/angular-tutorial/"> SumTran</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
