.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background: linear-gradient(to right, orangered ,orange);
}
.nav-link.active, .nav-link{
  padding: 8px 16px!important;
  color: white;
}
