.adminNav input{
  color: white!important;
}
.adminNav mat-icon, mat-label {
  color: white !important;
}

.adminNav .mat-form-field-label{
  color: white !important;
}
.adminNav .mat-form-field-underline {
  background-color: white !important;;
}
.adminNav .mat-form-field-ripple {
  background-color: orange !important;
}
.myNav{
  box-shadow:0 0 200px 1px rgba(200,200,200,.2)
}
