<div class="container-fluid text-white  ">
  <div class="row">
    <div class="col-md-6 p-0 view animated zoomInLeft" style="box-shadow:0 0 200px 1px rgba(200,200,200,.2)">
      <a>
        <img [src]="MovieDetail.HinhAnh" alt="" width="100%" class="img-fluid" style="max-height: 600px">
        <div class="mask flex-center rgba-black-light" (click)="openLg(content,MovieDetail)">
          <p class="white-text"><i class="material-icons" style="font-size: 40px">play_arrow</i></p>
        </div>
      </a>
    </div>
    <div class="col-md-6 text-justify ">
      <h3 class="text-uppercase py-3">{{MovieDetail.TenPhim}}</h3>
      <div class="mb-3">{{MovieDetail.MoTa}}</div>
      <mat-tab-group style="color: white">
        <mat-tab label="NGÀY {{suatChieu.NgayChieuGioChieu |date:'dd'}}/{{suatChieu.NgayChieuGioChieu |date:'mm'}}" *ngFor="let suatChieu of MovieDetail.LichChieu" class="text-center my-3">
          <a >
          <button class="btnStyle mx-2 mb-2" *ngFor="let suatChieu of MovieDetail_LichChieu" routerLink="/home/booking/{{suatChieu.MaLichChieu}}">{{suatChieu.NgayChieuGioChieu |date: 'hh:mm'}}
          </button>

        </a></mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #content let-modal style="position: relative" >
  <div class="your-centered-div">
    <iframe width="780" height="480" [src]="choose |safe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <button type="button" mat-mini-fab=""  class="close bg-light " aria-label="Close"
          (click)="modal.dismiss('Cross click')" style="outline: none;">
    <i class="material-icons">
      close
    </i>
  </button>

</ng-template>

