.ghe{
  padding: 12px 9px;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 7px 7px 7px 7px;
  color: black;
  margin-bottom: -30px;
  background: linear-gradient(0deg,#535353,#535353,#535353,gray,gray);
}
.ChuaDat{
  background: white;
  background: linear-gradient(0deg,#c5c5c5,#c5c5c5,#c5c5c5,#c5c5c5,#c5c5c5,#eee,#fff);
}

.DangChon{
  background: linear-gradient(0deg,#ffce26,#ffce26,#ffce26,#ff0);
}

